.produtos {
	background-color: #A6540D;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	padding: 10px;
}


.produtos li{
	background-color: #592D14;
	border-radius: 20px;
	text-align: center;
	list-style-type: none;
	margin-left: 5%;
	margin-right: 5%;
}

.produtos img{
	border-radius: 20px;
}

